# Data Preprocessing

## Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from pandas.core.tools.datetimes import to_datetime

## Timestamp Cleaning

In [ ]:
data = pd.read_excel("/content/trainset.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 14000 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  14000 non-null  float64
 2   CUST_AGE                 14000 non-null  int64
 3   OPEN_ACCT_CT             14000 non-null  int64
 4   WF_dvc_age               14000 non-null  int64
 5   PWD_UPDT_TS              10875 non-null  object
 6   CARR_NAME                11291 non-null  object
 7   RGN_NAME                 11291 non-null  object
 8   STATE_PRVNC_TXT          11291 non-null  object
 9   ALERT_TRGR_CD            14000 non-null  object
 10  DVC_TYPE_TXT             12239 non-null  object
 11  AUTHC_PRIM_TYPE_CD       14000 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13926 non-null  object
 13  CUST_ZIP                 14000 non-null  int64
 14  CUST_STATE               13964 non-null  object
 15  PH_NUM_UPDT_TS           6939 non-null   object
 16  CUST_SINCE_DT            14000 non-null  datetime64[ns]
 17  TRAN_TS                  14000 non-null  object
 18  TRAN_DT                  14000 non-null  object
 19  ACTN_CD                  14000 non-null  object
 20  ACTN_INTNL_TXT           14000 non-null  object
 21  TRAN_TYPE_CD             14000 non-null  object
 22  ACTVY_DT                 14000 non-null  object
 23  FRAUD_NONFRAUD           14000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(17)
memory usage: 2.6+ MB
None

In [ ]:
# Here if we dont have the pwd_upd_ts, it means that the password was never changed .
# So user have the same password as when the acc was created.
# So we are replacing the empty values with the account opening time stamp.  
pwd_up = pd.Series(data["PWD_UPDT_TS"])
cst_since = pd.Series(data["CUST_SINCE_DT"])
pwd_up.fillna(130, inplace = True )
pwd_up.head(100)
for i in range(len(cst_since)):
  if pwd_up[i] == 130:
    pwd_up[i] = cst_since[i]
print(pwd_up.head(100))

0       1/16/2018 11:3:58
1     1971-01-07 00:00:00
2     12/22/2021 10:42:51
3        2/8/2020 7:28:31
4     12/28/2020 12:12:44
             ...
95    1986-08-26 00:00:00
96       5/9/2017 13:7:20
97     2/26/2021 20:55:41
98      5/29/2017 14:7:20
99      5/19/2021 1:57:11
Name: PWD_UPDT_TS, Length: 100, dtype: object

In [ ]:
from pandas.core.tools.datetimes import to_datetime
s1 = to_datetime(pwd_up , errors = 'coerce')
s1.head(1000)
data["PWD_UPDT_TS"] = s1

In [ ]:
data2 =  data[data["PWD_UPDT_TS"].notna()]

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13993 entries, 0 to 13999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13993 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13993 non-null  float64
 2   CUST_AGE                 13993 non-null  int64
 3   OPEN_ACCT_CT             13993 non-null  int64
 4   WF_dvc_age               13993 non-null  int64
 5   PWD_UPDT_TS              13993 non-null  datetime64[ns]
 6   CARR_NAME                11287 non-null  object
 7   RGN_NAME                 11287 non-null  object
 8   STATE_PRVNC_TXT          11287 non-null  object
 9   ALERT_TRGR_CD            13993 non-null  object
 10  DVC_TYPE_TXT             12234 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13993 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13919 non-null  object
 13  CUST_ZIP                 13993 non-null  int64
 14  CUST_STATE               13957 non-null  object
 15  PH_NUM_UPDT_TS           6935 non-null   object
 16  CUST_SINCE_DT            13993 non-null  datetime64[ns]
 17  TRAN_TS                  13993 non-null  object
 18  TRAN_DT                  13993 non-null  object
 19  ACTN_CD                  13993 non-null  object
 20  ACTN_INTNL_TXT           13993 non-null  object
 21  TRAN_TYPE_CD             13993 non-null  object
 22  ACTVY_DT                 13993 non-null  object
 23  FRAUD_NONFRAUD           13993 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(4), object(16)
memory usage: 2.7+ MB

In [ ]:
data2.to_excel("/content/buffer3.xlsx", index = False)

In [ ]:
data3 = pd.read_excel("/content/buffer3.xlsx")

In [ ]:
print(data3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13993 entries, 0 to 13992
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13993 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13993 non-null  float64
 2   CUST_AGE                 13993 non-null  int64
 3   OPEN_ACCT_CT             13993 non-null  int64
 4   WF_dvc_age               13993 non-null  int64
 5   PWD_UPDT_TS              13993 non-null  datetime64[ns]
 6   CARR_NAME                11287 non-null  object
 7   RGN_NAME                 11287 non-null  object
 8   STATE_PRVNC_TXT          11287 non-null  object
 9   ALERT_TRGR_CD            13993 non-null  object
 10  DVC_TYPE_TXT             12234 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13993 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13919 non-null  object
 13  CUST_ZIP                 13993 non-null  int64
 14  CUST_STATE               13957 non-null  object
 15  PH_NUM_UPDT_TS           6935 non-null   object
 16  CUST_SINCE_DT            13993 non-null  datetime64[ns]
 17  TRAN_TS                  13993 non-null  object
 18  TRAN_DT                  13993 non-null  object
 19  ACTN_CD                  13993 non-null  object
 20  ACTN_INTNL_TXT           13993 non-null  object
 21  TRAN_TYPE_CD             13993 non-null  object
 22  ACTVY_DT                 13993 non-null  object
 23  FRAUD_NONFRAUD           13993 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(4), object(16)
memory usage: 2.6+ MB
None

In [ ]:
phn = pd.Series(data3["PH_NUM_UPDT_TS"])
cst_since = pd.Series(data3["CUST_SINCE_DT"])
phn.fillna(130, inplace = True )
#phn.head(100)
for i in range(len(cst_since)):
  if phn[i] == 130:
    phn[i] = cst_since[i]
print(phn.head(100))

0      2/24/2021 15:55:10
1     1971-01-07 00:00:00
2         5/5/2019 1:8:39
3       2/16/2019 6:45:37
4        5/8/2020 10:27:6
             ...
95    1986-08-26 00:00:00
96    2000-02-09 00:00:00
97       9/8/2017 2:53:51
98    2016-10-08 00:00:00
99    2016-08-23 00:00:00
Name: PH_NUM_UPDT_TS, Length: 100, dtype: object

In [ ]:
from pandas.core.tools.datetimes import to_datetime
temp1 = pd.to_datetime(phn , errors = 'coerce')
temp1.head(1000)
data3["PH_NUM_UPDT_TS"] = temp1

In [ ]:
data_phn_upd_done =  data3[data3["PH_NUM_UPDT_TS"].notna()]

In [ ]:
data_phn_upd_done.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13491 entries, 0 to 13992
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  object
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(4), object(15)
memory usage: 2.6+ MB

In [ ]:
data_phn_upd_done.to_excel("/content/buffer4.xlsx", index = False)
# Here we get our dataset with timestamp noise handled. for all the time stamp colums. 
# There can be interaction between transaction amount and balance.

## Date Modification

In [ ]:
data = pd.read_excel("/content/buffer4.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  object
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(4), object(15)
memory usage: 2.5+ MB
None

In [ ]:
cst_since = pd.Series(data["CUST_SINCE_DT"])
cst_since_numeric = cst_since
for i in range(len(cst_since)):
  cst_since_numeric[i] = int(round(cst_since[i].timestamp()))
print(cst_since_numeric.head(100))

0      726278400
1       32054400
2      760060800
3     1004572800
4      539654400
         ...
95     950054400
96     866851200
97    1475884800
98    1471910400
99    1065830400
Name: CUST_SINCE_DT, Length: 100, dtype: object

In [ ]:
ph_num_up = pd.Series(data["PH_NUM_UPDT_TS"])
ph_num_up_numeric = ph_num_up
for i in range(len(ph_num_up)):
  ph_num_up_numeric[i] = int(round(ph_num_up[i].timestamp()))
print(ph_num_up_numeric.head(100))

0     1614182110
1       32054400
2     1557018519
3     1550299537
4     1588933626
         ...
95     950054400
96    1504839231
97    1475884800
98    1471910400
99    1065830400
Name: PH_NUM_UPDT_TS, Length: 100, dtype: object

In [ ]:
pwd_up = pd.Series(data["PWD_UPDT_TS"])
pwd_up_numeric = pwd_up
for i in range(len(pwd_up)):
  pwd_up_numeric[i] = int(round(pwd_up[i].timestamp()))
print(pwd_up_numeric.head(100))

0     1516100638
1       32054400
2     1640169771
3     1581146911
4     1609157564
         ...
95    1494335240
96    1614372941
97    1496066840
98    1621389431
99    1065830400
Name: PWD_UPDT_TS, Length: 100, dtype: object

In [ ]:
data["pwd_up_numeric"] = pwd_up_numeric
data["ph_num_up_numeric"] = ph_num_up_numeric
data["cst_since_numeric"] = cst_since_numeric

In [ ]:
print(data["TRAN_TS"].head(100))

0       5/3/2021 18:3:58
1     1/13/2021 19:19:37
2       4/8/2021 9:42:51
3     8/10/2021 15:28:31
4     6/27/2021 11:12:44
             ...
95      6/4/2021 11:0:51
96     7/21/2021 9:55:41
97     7/18/2021 17:0:51
98     6/26/2021 9:57:11
99     5/19/2021 11:37:9
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
tran_TS = pd.Series(data["TRAN_TS"])
cst_since = pd.Series(data["CUST_SINCE_DT"])
tran_TS.fillna(130, inplace = True )
#phn.head(100)
for i in range(len(cst_since)):
  if tran_TS[i] == 130:
    tran_TS[i] = cst_since[i]
print(tran_TS.head(100))

0       5/3/2021 18:3:58
1     1/13/2021 19:19:37
2       4/8/2021 9:42:51
3     8/10/2021 15:28:31
4     6/27/2021 11:12:44
             ...
95      6/4/2021 11:0:51
96     7/21/2021 9:55:41
97     7/18/2021 17:0:51
98     6/26/2021 9:57:11
99     5/19/2021 11:37:9
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
temp1 = pd.to_datetime(tran_TS , errors = 'coerce')
temp1.head(1000)
data["TRAN_TS"] = temp1

In [ ]:
TRAN_TS_done =  data[data["TRAN_TS"].notna()]

In [ ]:
data.to_excel("/content/buffer5.xlsx", index = False)

In [ ]:
data1 = pd.read_excel("/content/buffer5.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  datetime64[ns]
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
 24  pwd_up_numeric           13491 non-null  object
 25  ph_num_up_numeric        13491 non-null  object
 26  cst_since_numeric        13491 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(4), object(17)
memory usage: 2.8+ MB
None

In [ ]:
tran_ts = pd.Series(data["TRAN_TS"])
tran_ts_numeric = tran_ts
for i in range(len(tran_ts)):
  tran_ts_numeric[i] = int(round(tran_ts[i].timestamp()))
print(tran_ts_numeric.head(100))

0     1620065038
1     1610565577
2     1617874971
3     1628609311
4     1624792364
         ...
95    1622804451
96    1626861341
97    1626627651
98    1624701431
99    1621424229
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
data1["Tran_TS_Numeric"] = tran_ts_numeric

In [ ]:
cst_diff_tran = data1["cst_since_numeric"]
phn_diff_tran = data1["ph_num_up_numeric"]
pwd_diff_tran = data1["pwd_up_numeric"]
Tran_TS_Numeric = data1["Tran_TS_Numeric"]
for i in range(len(Tran_TS_Numeric)):
  cst_diff_tran[i] = Tran_TS_Numeric[i] - cst_diff_tran[i]
  phn_diff_tran[i] = Tran_TS_Numeric[i] - phn_diff_tran[i]
  pwd_diff_tran[i] =  Tran_TS_Numeric[i] -pwd_diff_tran[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data1["cst_diff_tran"] = cst_diff_tran
data1["phn_diff_tran"] = phn_diff_tran
data1["pwd_diff_tran"] = pwd_diff_tran

In [ ]:
print(data1["cst_diff_tran"].head(100))

0      893786638
1     1578511177
2      857814171
3      624036511
4     1085137964
         ...
95     672750051
96     760010141
97     150742851
98     152791031
99     555593829
Name: cst_diff_tran, Length: 100, dtype: int64

In [ ]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  datetime64[ns]
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
 24  pwd_up_numeric           13491 non-null  int64
 25  ph_num_up_numeric        13491 non-null  int64
 26  cst_since_numeric        13491 non-null  int64
 27  Tran_TS_Numeric          13491 non-null  object
 28  cst_diff_tran            13491 non-null  int64
 29  phn_diff_tran            13491 non-null  int64
 30  pwd_diff_tran            13491 non-null  int64
dtypes: datetime64[ns](4), float64(2), int64(10), object(15)
memory usage: 3.2+ MB
None

In [ ]:
data1.to_excel("/content/buffer6.xlsx", index = False)

## Dummy Variable Creation

In [ ]:
data1 = pd.read_excel('/content/buffer6.xlsx')

In [ ]:
data = data1

In [ ]:
data['CUST_AGE'] = pd.Series(np.where(data.CUST_AGE.values >=60, 1, 0),data.index)
data['CUST_AGE']

0        0
1        0
2        0
3        1
4        1
        ..
13486    0
13487    0
13488    0
13489    0
13490    1
Name: CUST_AGE, Length: 13491, dtype: int64

In [ ]:
b = data['CARR_NAME'].fillna("0")
b

0                        cox communications inc.
1                         charter communications
2                             utah broadband llc
3                             t-mobile usa  inc.
4                          cogent communications
                          ...
13486    cellco partnership dba verizon wireless
13487                         t-mobile usa  inc.
13488                           att services inc
13489                                          0
13490                 charter communications inc
Name: CARR_NAME, Length: 13491, dtype: object

In [ ]:
popular = ['cox communications inc.', 't-mobile usa  inc.', 'charter communications inc','comcast', 'comcast cable communications  llc', 'centurylink communications  llc', 'frontier communications of america  inc.', 'att services inc', 'charter communications', 'at&t mobility llc', 'cellco partnership dba verizon wireless', ]
b = list(b)

for i in range(len(b)):
  if b[i] in popular:
    b[i] = "1"

In [ ]:
b[:30]

['1',
 '1',
 'utah broadband llc',
 '1',
 'cogent communications',
 'ultimate internet access, inc',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 'smarterbroadband',
 '1',
 '1',
 '1',
 '0',
 'go fiber',
 'charter communications  inc',
 '1']

In [ ]:
a = b 
for i in range(len(a)):
  if a[i]!="1" and a[i]!="0":
    a[i] = '2'

In [ ]:
y = pd.Series(a)

In [ ]:
data['CARR_NAME'] =  pd.Series(a)

In [ ]:
data['CARR_NAME'].value_counts()
# 0 = Unknown Carrier
# 1 = Reputed Carrier
# 2 = Not so famous Carrier

1    8953
0    2414
2    2124
Name: CARR_NAME, dtype: int64

In [ ]:
data['CARR_NAME'] = data.CARR_NAME.replace(to_replace =["0"], value = "Unknown Carrier")
data['CARR_NAME'] = data.CARR_NAME.replace(to_replace =["1"], value = "Popular Carrier")
data['CARR_NAME'] = data.CARR_NAME.replace(to_replace =["2"], value = "Not Popular Carrier")

In [ ]:
data = pd.get_dummies(data,prefix = ['Carrier'],columns=['CARR_NAME'],drop_first=True)
data.columns

Index(['TRAN_AMT', 'ACCT_PRE_TRAN_AVAIL_BAL', 'CUST_AGE', 'OPEN_ACCT_CT',
       'WF_dvc_age', 'PWD_UPDT_TS', 'RGN_NAME', 'STATE_PRVNC_TXT',
       'ALERT_TRGR_CD', 'DVC_TYPE_TXT', 'AUTHC_PRIM_TYPE_CD',
       'AUTHC_SCNDRY_STAT_TXT', 'CUST_ZIP', 'CUST_STATE', 'PH_NUM_UPDT_TS',
       'CUST_SINCE_DT', 'TRAN_TS', 'TRAN_DT', 'ACTN_CD', 'ACTN_INTNL_TXT',
       'TRAN_TYPE_CD', 'ACTVY_DT', 'FRAUD_NONFRAUD', 'pwd_up_numeric',
       'ph_num_up_numeric', 'cst_since_numeric', 'Tran_TS_Numeric',
       'cst_diff_tran', 'phn_diff_tran', 'pwd_diff_tran',
       'Carrier_Popular Carrier', 'Carrier_Unknown Carrier'],
      dtype='object')

In [ ]:
data['ALERT_TRGR_CD'] = pd.Series(np.where(data.ALERT_TRGR_CD.values == 'ONLN', 1, 0),data.index)
data['ALERT_TRGR_CD']
###########################################################################################################

0        0
1        0
2        1
3        0
4        0
        ..
13486    0
13487    0
13488    0
13489    1
13490    0
Name: ALERT_TRGR_CD, Length: 13491, dtype: int64

In [ ]:
data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace = np.nan, value = 'NoDevice')
data_df = pd.get_dummies(data,prefix = ['Device'],columns=['DVC_TYPE_TXT'],drop_first=True)
data_df.columns

Index(['TRAN_AMT', 'ACCT_PRE_TRAN_AVAIL_BAL', 'CUST_AGE', 'OPEN_ACCT_CT',
       'WF_dvc_age', 'PWD_UPDT_TS', 'RGN_NAME', 'STATE_PRVNC_TXT',
       'ALERT_TRGR_CD', 'AUTHC_PRIM_TYPE_CD', 'AUTHC_SCNDRY_STAT_TXT',
       'CUST_ZIP', 'CUST_STATE', 'PH_NUM_UPDT_TS', 'CUST_SINCE_DT', 'TRAN_TS',
       'TRAN_DT', 'ACTN_CD', 'ACTN_INTNL_TXT', 'TRAN_TYPE_CD', 'ACTVY_DT',
       'FRAUD_NONFRAUD', 'pwd_up_numeric', 'ph_num_up_numeric',
       'cst_since_numeric', 'Tran_TS_Numeric', 'cst_diff_tran',
       'phn_diff_tran', 'pwd_diff_tran', 'Carrier_Popular Carrier',
       'Carrier_Unknown Carrier', 'Device_MOBILE', 'Device_NoDevice',
       'Device_PHONE', 'Device_TABLET'],
      dtype='object')

In [ ]:
#data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace = np.nan, value = 'NoDevice')
#data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace =["DESKTOP"], value = 1)
#data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace =["MOBILE"], value = 2)
#data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace =["PHONE"], value = 3)
#data['DVC_TYPE_TXT'] = data.DVC_TYPE_TXT.replace(to_replace =["TABLET"], value = 4)
#data['DVC_TYPE_TXT']

In [ ]:
data_df = pd.get_dummies(data_df,prefix = ['auth_prim'],columns=['AUTHC_PRIM_TYPE_CD'],drop_first=True)
data_df.columns

Index(['TRAN_AMT', 'ACCT_PRE_TRAN_AVAIL_BAL', 'CUST_AGE', 'OPEN_ACCT_CT',
       'WF_dvc_age', 'PWD_UPDT_TS', 'RGN_NAME', 'STATE_PRVNC_TXT',
       'ALERT_TRGR_CD', 'AUTHC_SCNDRY_STAT_TXT', 'CUST_ZIP', 'CUST_STATE',
       'PH_NUM_UPDT_TS', 'CUST_SINCE_DT', 'TRAN_TS', 'TRAN_DT', 'ACTN_CD',
       'ACTN_INTNL_TXT', 'TRAN_TYPE_CD', 'ACTVY_DT', 'FRAUD_NONFRAUD',
       'pwd_up_numeric', 'ph_num_up_numeric', 'cst_since_numeric',
       'Tran_TS_Numeric', 'cst_diff_tran', 'phn_diff_tran', 'pwd_diff_tran',
       'Carrier_Popular Carrier', 'Carrier_Unknown Carrier', 'Device_MOBILE',
       'Device_NoDevice', 'Device_PHONE', 'Device_TABLET', 'auth_prim_AFA_PL',
       'auth_prim_FACE_ID', 'auth_prim_TOUCH_ID', 'auth_prim_UN_PWD'],
      dtype='object')

In [ ]:
#data['AUTHC_PRIM_TYPE_CD'] = data.AUTHC_PRIM_TYPE_CD.replace(to_replace =["AFA_PL"], value = 0)
#data['AUTHC_PRIM_TYPE_CD'] = data.AUTHC_PRIM_TYPE_CD.replace(to_replace =["FACE_ID"], value = 1)
#data['AUTHC_PRIM_TYPE_CD'] = data.AUTHC_PRIM_TYPE_CD.replace(to_replace =["TOUCH_ID"], value = 2)
#data['AUTHC_PRIM_TYPE_CD'] = data.AUTHC_PRIM_TYPE_CD.replace(to_replace =["UN_PWD"], value = 3)
#data['AUTHC_PRIM_TYPE_CD'] = data.AUTHC_PRIM_TYPE_CD.replace(to_replace =["AFA_BM"], value = 4)
#data['AUTHC_PRIM_TYPE_CD']

In [ ]:
data_df = pd.get_dummies(data_df,prefix = ['auth_sec'],columns=['AUTHC_SCNDRY_STAT_TXT'],drop_first=True)
data_df.columns

Index(['TRAN_AMT', 'ACCT_PRE_TRAN_AVAIL_BAL', 'CUST_AGE', 'OPEN_ACCT_CT',
       'WF_dvc_age', 'PWD_UPDT_TS', 'RGN_NAME', 'STATE_PRVNC_TXT',
       'ALERT_TRGR_CD', 'CUST_ZIP', 'CUST_STATE', 'PH_NUM_UPDT_TS',
       'CUST_SINCE_DT', 'TRAN_TS', 'TRAN_DT', 'ACTN_CD', 'ACTN_INTNL_TXT',
       'TRAN_TYPE_CD', 'ACTVY_DT', 'FRAUD_NONFRAUD', 'pwd_up_numeric',
       'ph_num_up_numeric', 'cst_since_numeric', 'Tran_TS_Numeric',
       'cst_diff_tran', 'phn_diff_tran', 'pwd_diff_tran',
       'Carrier_Popular Carrier', 'Carrier_Unknown Carrier', 'Device_MOBILE',
       'Device_NoDevice', 'Device_PHONE', 'Device_TABLET', 'auth_prim_AFA_PL',
       'auth_prim_FACE_ID', 'auth_prim_TOUCH_ID', 'auth_prim_UN_PWD',
       'auth_sec_CHALLENGE_ISSUED', 'auth_sec_CHALLENGE_SUCCESS'],
      dtype='object')

In [ ]:
#data['AUTHC_SCNDRY_STAT_TXT'] = data.AUTHC_SCNDRY_STAT_TXT.replace(to_replace = np.nan, value = 0)
#data['AUTHC_SCNDRY_STAT_TXT'] = data.AUTHC_SCNDRY_STAT_TXT.replace(to_replace =["ALLOW"], value = 1)
#data['AUTHC_SCNDRY_STAT_TXT'] = data.AUTHC_SCNDRY_STAT_TXT.replace(to_replace =["CHALLENGE_ISSUED"], value = 2)
#data['AUTHC_SCNDRY_STAT_TXT'] = data.AUTHC_SCNDRY_STAT_TXT.replace(to_replace =["CHALLENGE_SUCCESS"], value = 3)
#data['AUTHC_SCNDRY_STAT_TXT']

In [ ]:
data_df.columns

Index(['TRAN_AMT', 'ACCT_PRE_TRAN_AVAIL_BAL', 'CUST_AGE', 'OPEN_ACCT_CT',
       'WF_dvc_age', 'PWD_UPDT_TS', 'RGN_NAME', 'STATE_PRVNC_TXT',
       'ALERT_TRGR_CD', 'CUST_ZIP', 'CUST_STATE', 'PH_NUM_UPDT_TS',
       'CUST_SINCE_DT', 'TRAN_TS', 'TRAN_DT', 'ACTN_CD', 'ACTN_INTNL_TXT',
       'TRAN_TYPE_CD', 'ACTVY_DT', 'FRAUD_NONFRAUD', 'pwd_up_numeric',
       'ph_num_up_numeric', 'cst_since_numeric', 'Tran_TS_Numeric',
       'cst_diff_tran', 'phn_diff_tran', 'pwd_diff_tran',
       'Carrier_Popular Carrier', 'Carrier_Unknown Carrier', 'Device_MOBILE',
       'Device_NoDevice', 'Device_PHONE', 'Device_TABLET', 'auth_prim_AFA_PL',
       'auth_prim_FACE_ID', 'auth_prim_TOUCH_ID', 'auth_prim_UN_PWD',
       'auth_sec_CHALLENGE_ISSUED', 'auth_sec_CHALLENGE_SUCCESS'],
      dtype='object')

In [ ]:
data_df.to_excel("/content/final.xlsx", index = False)

## Final dataframe

> data_df